.home--div {
  scroll-behavior: smooth;
  top: 100px;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  flex-direction: column;
  padding-bottom: 5%;
}

@font-face {
  font-family: myFirstFont;
  src: url(./SAMAN.ttf);
}

.title {
  z-index: 10;
  font-family: myFirstFont;
  font-size: 8em;
  color: white;
  margin: 0;
}

.title-div {
  z-index: 10;
  margin-bottom: 50px;
}

.logo {
  z-index: 1;
  /* margin-bottom: auto; */
  max-width: 40%;
  animation: spin 15s linear infinite;
  -webkit-animation: spin 15s linear infiite;
  -moz-animation: spin 15s linear infiite;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@media screen and (max-width: 1000px) {
  .logo {
    max-width: 80%;
  }
}
@media screen and (max-width: 800px) {
  .logo {
    max-width: 80%;
  }
}

.timeline {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(0, 0, 0);
}

.timeline img {
  width: 100%;
}
